* {
    box-sizing: border-box;
}

h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    border: 1px solid black;
    padding: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

input {
    padding: .5rem 1rem;
}

button {
    width: fit-content;
    padding: .5rem 1.5rem;

    cursor: pointer;
}

table {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    table-layout: fixed;
}

th:first-of-type {
    width: 5ch;
}

tr:not(:first-of-type):hover {
    background-color: lightgray;
}

th, td {
    padding: .2rem;
    border: 1px solid black;

    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}